body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h2 {

    color: aliceblue;
}
 i {
    
    padding: 30px;
    border-radius: 100%;
    background: #1c34b2;
    color: #eee;
    font-size: 1.5em !important;
    
}

h4 {
    
    color: antiquewhite;
}

nav {
    margin-bottom: 20px;
    display:flex;
}

.navbar-brand {
    font-family:monospace;
    font-size: 2em;
    position: 
}
/*Front*/
#home {

    background: url(image/bg2.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 50px -20px 0;
    padding: 8% 2% 10% 0;
    background-attachment: fixed;
}


#kamballogo {
    width: 230px;
    height: 30% !important;
    border-radius: 100%;
}

#firstheader {
    font-size: 2ems;
    font-weight: bold;
    text-shadow: 23px 23px 23px;
}
.secondheader {
    font-size: 50px;
    font-family: serif;
    color: #ccc;

}

#projects  h2,
#projects {

    background:#ddd;
    background-size: cover;
    margin: -20px 0;
    color: #111;
    padding: 20px;
}


.mid-text {
    color: #333;
    font-size: 1.8em;
    font-family:serif;
}


.mid-fixer {
    margin: 20px 0 2px 0;
    color: #ccc;
    padding: 5%

}


.service-icon {
    width: 200px;
    height: 200px !important;
    border-radius: 100%;
}

.excerpt,
p,
.servicetext {
    color: #ddd;

}



.d-block {
    width: 720x;
    height: 450px !important;
    text-align: center;
    margin: 0 auto;
}


#services {

    background: url(image/bg4.jpg)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.text-service {
    color: #ddd;
    font-weight: bold;
    font-size: 5em;
}


/*excerpts and some of p's class */
.x {
    font-size: 1.2em;
}

.x:nth-child(2){
    color: #fff;
    font-weight: bolder;
    font-size: 1.9em

}

#about {
    background: #ddd;
    margin: -20px 0;
}

/*section header*/
#text-about {
    color: #111;

}
#about p {
    background: #ccc;
    padding: 0 30px;
    color: #222 !important;
}


#about-excerpt {

    padding: 40px 20px  !important;
    border-radius: 20px;
    font-family: Fairplex;
    font-size: 1.4em;


}


/*span from Testimonials section*/
.spl {
    font-size: 80px;
    margin: 0 0px;
    font-style: italic;
    animation-delay: 2000;
    position: relative;
    top: 30px;
    z-index:1;
    letter-spacing: 2px;
    line-height: 2px;
}

.comments {
    position: relative;
    font-family:cursive, Helvetic, sans-serif;
    z-index: 5;
}

.comment-header {
    
    
}

.linya { 
    border: 1px solid #FFF039;
}

#paralax {
    background: url(image/happy-people-1200.gif)no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px 0 200px 0;
}


#forms {

    background-color: #ddd;
    padding: 5%;
}

#footer {
    padding: 100px;
    background: url(image/bg1.jpg);
}

.content {
    
}

@media only screen and (min-width: 5508px) and (max-width: 768px){


    .img-fluid {

        width:% !important;
    }

    .btn {
        color: red !important;
    }

}
