body {
    background-color: #555;
    
}

.jumbotron {
    
background: url(bg1.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: ;

}

img {
    width: 100%;
    height: 400px !important;
    
}

    
    
